.vscode/
file.json
*main.py
g_console.py
*.json
line_split.py
models/engine/__pycache__/*
models/__pycache__/*
tests/test_models/test_engine/__pycache__/*
tests/test_models/__pycache__/*
tests/__pycache__/*
