/* Styling for header */

header {
	background-color: #FFF;
	height: 70px;
	width: 100%;
	border-bottom: 1px solid #CCCCCC;
	padding-left: 20px;
}

/* Header logo */
.header_logo {
    background: url("../images/logo.png");
	height: 60px;
	width: 142px;
	position: relative;
	top: 5px;
}
